<h2 class="pedal-category text-center"
    style="text-shadow: 1px 2px 0 rgba(0,0,0,0.1),-1px -2px 0 rgba(255,255,255,0.1);color: #98d18e">MY PEDALS</h2>
<div ng-repeat="pedal in user.pedals">
  <div class="pedals">

    <!--pedal header-->
    <div class="pedal-header">
      <ul class="list-inline pull-left">
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">Actions <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-click="shareModal(pedal)"><a href="/#/"><i class="fa fa-share-alt fa-fw"></i>&nbsp;Share</a></li>
              <li><a href="/#/"><i class="fa fa-comment fa-fw"></i>&nbsp;See comments</a></li>
              <li role="separator" class="divider"></li>
              <li ng-click="deletePedal(pedal)"><a href="/#/"><i class="fa fa-trash fa-fw text-danger"></i>&nbsp;Delete</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="/#/pedal/{{pedal._id}}">
            <button class="btn btn-default">
              <i id="edit" title="Edit" class="fa fa-edit fa-fw"></i>
            </button>
          </a>
        </li>
        <li>
          <a href="/#/play/{{pedal._id}}">
            <button class="btn btn-default">
              <i id="play" title="Play" class="fa fa-play fa-fw"></i>
            </button>
          </a>
        </li>
      </ul>


      <div class="pull-right pedal-rating">
        <uib-rating ng-init="rate = pedal.rating" ng-model="rate" max="max" readonly="isReadonly" style="cursor: pointer;"
                    on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="getVal(pedal)"
                    aria-labelledby="default-rating"></uib-rating>
      </div>

      <div class="clearfix"/>
    </div>

    <!--nom de la pedal-->
    <div class="pull-left">
      <h3 class="pedal-name">{{pedal.name}}</h3>
    </div>
    <div class="clearfix"/>

    <!--block description et bouton play edit-->
    <div class="quote pull-left">
      <blockquote class="quote-pedals quote-my-pedals">{{pedal.description}}</blockquote>
    </div>


    <div class="clearfix"/>

    <ul class="list-inline pull-right">
      <li ng-repeat="usr in pedal.users">
        <img src="http://www.gravatar.com/avatar/{{hashEmail(usr.email)}}.jpg?s=30&d=retro"/>
      </li>
    </ul>

    <div class="clearfix"/>


        <div>
          <uib-accordion close-others="oneAtATime">

            <uib-accordion-group >
              <uib-accordion-heading>
                <i class="glyphicon-comment pull-right glyphicon" style="color: #0000FF ; font-size: large" ></i>
              </uib-accordion-heading>
              <div class="form-group">
                <input type="text"  class="form-control" ng-model="comment"/>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" type="button"  ng-click="commentModal(user,pedal,comment)">Save</button>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </a>

  </div>
  <br/>
</div>
