<h2 class="pedal-category text-center"
    style="text-shadow: 1px 2px 0 rgba(0,0,0,0.1),-1px -2px 0 rgba(255,255,255,0.1);color: #98d18e">MY PEDALS</h2>
<div ng-repeat="pedal in user.pedals">
  <div class="pedals">

    <!--pedal header-->
    <div class="pedal-header">
      <ul class="list-inline pull-left">
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">Actions <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-click="shareModal(pedal)"><a href="/#/"><i class="fa fa-share-alt fa-fw"></i>&nbsp;Share</a></li>
              <li><a href="/#/"><i class="fa fa-comment fa-fw"></i>&nbsp;See comments</a></li>
              <li role="separator" class="divider"></li>
              <li ng-click="deletePedal(pedal)"><a href="/#/"><i class="fa fa-trash fa-fw text-danger"></i>&nbsp;Delete</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="/#/pedal/{{pedal._id}}">
            <button class="btn btn-default">
              <i id="edit" title="Edit" class="fa fa-edit fa-fw"></i>
            </button>
          </a>
        </li>
        <li>
          <a href="/#/play/{{pedal._id}}">
            <button class="btn btn-default">
              <i id="play" title="Play" class="fa fa-play fa-fw"></i>
            </button>
          </a>
        </li>
      </ul>


      <div class="pull-right pedal-rating">
        <uib-rating ng-init="rate = pedal.rating" style="cursor: pointer;"
                    ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                    on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>

        <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>-->

        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
      </div>

      <div class="clearfix"/>
    </div>

    <!--nom de la pedal-->
    <div class="pull-left">
      <h3 class="pedal-name">{{pedal.name}}</h3>
    </div>
    <div class="clearfix"/>

    <!--block description et bouton play edit-->
    <div class="quote pull-left">
      <blockquote class="quote-pedals quote-my-pedals">{{pedal.description}}</blockquote>
    </div>


    <div class="clearfix"/>

    <ul class="list-inline pull-right">
      <li ng-repeat="usr in pedal.users">
        <img src="http://www.gravatar.com/avatar/{{hashEmail(usr.email)}}.jpg?s=30&d=retro"/>
      </li>
    </ul>

    <div class="clearfix"/>
  </div>
  <br/>
</div>
