<h2 class="pedal-category text-center"
    style="text-shadow: 1px 2px 0 rgba(0,0,0,0.1),-1px -2px 0 rgba(255,255,255,0.1);color: #76b5dd">SHARED WITH ME</h2>
<div ng-repeat="pedal in user.shared">
  <div class="pedals">

    <!--pedal header-->
    <div class="pedal-header">
      <ul class="list-inline pull-left">
        <li>
          <a href="/#/play/{{pedal._id}}">
            <button class="btn btn-default">
              <i id="play" title="Play" class="fa fa-play fa-fw"></i>
            </button>
          </a>
        </li>
      </ul>

      <div class="pull-right pedal-rating">
        <uib-rating ng-init="rate = pedal.rating" style="cursor: pointer;"
                    ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                    on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
        <!--<i class="fa fa-star"></i>-->
      </div>

      <div class="clearfix"/>
    </div>

    <!--nom de la pedal-->
    <div class="pull-left">
      <h3 class="pedal-name">{{pedal.name}}</h3>
    </div>
    <div class="clearfix"/>

    <!--block description et bouton play edit-->
    <div class="quote pull-left">
      <blockquote class="quote-pedals quote-shared-pedals">{{pedal.description}}</blockquote>
    </div>


    <div class="clearfix"/>

    <ul class="list-inline pull-right">
      <li ng-repeat="usr in pedal.users">
        <img src="http://www.gravatar.com/avatar/{{hashEmail(usr.email)}}.jpg?s=30&d=retro"/>
      </li>
    </ul>

    <div class="clearfix"/>
  </div>
  <br/>
</div>
