<div class="row">
  <div class="modal" ng-class="{'show': !created, hide: created }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Sign In:</h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for="loginPseudo">Pseudo</label>
                <br>
                <input type="text" id="loginPseudo" name="username" ng-model="login.username"/>
                <br>
                <label for="loginPassword">password</label>
                <br>
                <input type="password" id="loginPassword" name="password" ng-model="login.password"/>
                <br>
                <br>
                <span class="btn glyphicon btn-info btn-lg glyphicon-ok-sign" ng-click="createUser() ; reated=true ; logged=false;"></span>
                  <span class="btn   btn-info btn-lg glyphicon glyphicon-plus-sign"
                  ng-click="created=true ; logged=false;">Back</span>


              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
   </div>
  </div>
