<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Effects.io</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/live.css">
  <link rel="stylesheet" href="styles/design-pedal.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="bower_components/ngnotification/notification.css" />
</head>
<body ng-app="webClientSideApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Effects</a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class='{"active":tog==0}' ng-click='tog=0'><a href="#/">Home</a></li>
          <li ng-class='{"active":tog==1}' ng-click='tog=1'><a ng-href="#/main_old">Tmp</a></li>
          <li ng-class='{"active":tog==2}' ng-click='tog=2'><a ng-href="#/about">About</a></li>
          <li ng-class='{"active":tog==3}' ng-click='tog=3'><a ng-href="#/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div ng-view=""></div>
</div>


<div class="footer" style="margin-top: 60px">
  <div class="container">
    <p class="text-muted credit">Effects app by <a href="#">Seb</a>, <a href="#">Max</a>, <a href="#">Yazou</a> et <a
      href="#">Rominou</a>.</p>
  </div>


  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jsPlumb/dist/js/jsPlumb-2.0.6.js"></script>
  <script src="bower_components/ngnotification/notification.js"></script>
  <script src="bower_components/angular-crypto/angular-crypto.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <script src="bower_components/angular-md5/angular-md5.js"></script>


  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/nexusUI.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/main_old.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/live.js"></script>
  <script src="scripts/services/soundnode/abstractSoundnode.js"></script>
  <script src="scripts/services/soundnode/inputnode.js"></script>
  <script src="scripts/services/soundnode/outputnode.js"></script>
  <script src="scripts/services/soundnode/gain.js"></script>
  <script src="scripts/services/audiocontext.js"></script>
  <script src="scripts/directives/audionode.js"></script>
  <script src="scripts/services/audionodeselector.js"></script>
  <script src="scripts/services/user.js"></script>
  <script src="scripts/services/pedal.js"></script>
  <script src="scripts/services/nodestorage.js"></script>
  <script src="scripts/services/soundnode/lowpass.js"></script>
  <script src="scripts/services/soundnode/highpass.js"></script>
  <script src="scripts/services/soundnode/bandpass.js"></script>
  <script src="scripts/services/soundnode/lowshelf.js"></script>
  <script src="scripts/services/soundnode/highshelf.js"></script>
  <script src="scripts/services/soundnode/peaking.js"></script>
  <script src="scripts/services/soundnode/notch.js"></script>
  <script src="scripts/services/soundnode/allpass.js"></script>
  <script src="scripts/services/wseffects.js"></script>
  <script src="scripts/services/savestate.js"></script>
  <script src="scripts/services/soundnode/convolver.js"></script>
  <script src="scripts/services/soundnode/delay.js"></script>
  <script src="scripts/services/initinput.js"></script>
  <script src="scripts/controllers/pedal-design.js"></script>
  <script src="scripts/services/soundnode/distorsion.js"></script>
  <script src="scripts/services/soundnode/compressor.js"></script>
  <script src="scripts/services/nodeparameter.js"></script>
  <!-- Directives -->
  <script src="scripts/directives/myPedals.js"></script>
  <script src="scripts/directives/sharedPedals.js"></script>
  <!-- endbuild -->
</div>
</body>
</html>
