#live-page {
  position: relative;
  height: 90vh;
  width: 100%;
}

#live-page-pedals {
  position: relative;
  height: 90vh;
  width: 90%;
}

.soundnode {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #f4f4f4;
  position: absolute;
  min-width: 10%;
  max-width: 30%;
  min-height: 10%;
  padding: 10px;
}

.input {
  background-color: #87979f;
  border: 1px solid #677277;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5%;
  min-width: 5%;
  padding: 0;
  margin-left: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.output {
  background-color: #87979f;
  border: 1px solid #677277;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 5%;
  min-width: 5%;
  padding: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.input-output-text {
  text-align: center;
  font-variant: small-caps;
  font-size: 15px;
  padding-top: 15px;
}
.node-text {
  font-variant: small-caps;
  text-align: center;
  padding: 0;
}

#live-sidebar {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.effect-button {
  width: 100%;
  height: 50px;
  margin: 0 5px 5px 5px;
  font-size: 15px;
  font-variant:small-caps;
  line-height: 50px;
  text-align: center;
}

.delete-node {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
/*  background: #e6e6e6;
  border-left:1px solid #cfcfcf;
  border-bottom:1px solid #cfcfcf;*/
}

.input .delete-node {
  visibility: hidden;
}

.output .delete-node {
  visibility: hidden;
}

.jsplumb-drag-select * {
}

.image-button {
  width: 100%;
}

/* Les boiboites */

.gain{
  background-color: rgba(253, 244, 176, 0.82);
  border:1px solid #dcd499;
}
.allpass {
  background-color: rgba(164, 220, 185, 0.82);
  border:1px solid #779f83;
}
.bandpass {
  background-color: rgba(91, 206, 191, 0.82);
  border:1px solid #377c73;
}
.highpass {
  background-color: rgba(50, 185, 190, 0.82);
  border:1px solid #217f83;
}
.highshelf {
  background-color: rgba(46, 151, 183, 0.81);
  border:1px solid #247790;
}
.lowpass  {
  background-color: rgba(214, 244, 208, 0.82);
  border:1px solid #c3ddbd;
}
.lowshelf  {
  background-color: #FECEFF;
  border:1px solid #c29ec3;
}
.notch  {
  background-color: rgba(233, 218, 237, 0.81);
  border:1px solid #afa5b3;
}
.peaking  {
  background-color: rgba(197, 224, 220, 0.8);
  border:1px solid #8a9d9a;
}
.convolver  {
  background-color: rgba(236, 229, 206, 0.8);
  border:1px solid #aca596;
}
.delay  {
  background-color: rgba(241, 212, 175, 0.82);
  border:1px solid #b7a085;
}
.distorsion  {
  background-color: rgba(224, 142, 121, 0.8);
  border:1px solid #E08E79;
}
.compressor  {
  background-color: rgba(245, 151, 164, 0.8);
  border:1px solid #f597a4;
}
.tremolo  {
  background-color: rgba(243, 241, 244, 0.85);
  border:1px solid #d7d5d8;
}
