#live-page {
  position: relative;
  width: 100%;
  height: 80vh;
}

.soundnode {
  background-color: #f4f4f4;
}

.input {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5%;
}

.output {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 5%;
}

.gain {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 10%;
  /*height: 10%;*/
}

.lowshelf {
  position: absolute;
  top: 50%;
  right: 30%;
  width: 10%;
  /*height: 10%;*/
}

