#live-page {
  position: relative;
  height: 90vh;
  width: 100%;
}

#live-page-pedals {
  position: relative;
  height: 90vh;
  width: 90%;
}

.soundnode {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #f4f4f4;
  border-radius: 5px;
  position: absolute;
  min-width: 10%;
  max-width: 30%;
  min-height: 10%;
  padding: 10px;
}

.input {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5%;
  min-width: 5%;
  padding: 0;
}

.output {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 5%;
  min-width: 5%;
  padding: 0;
}

#live-sidebar {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.effect-button {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background: #f1f1f4;
  border: 1px solid #000000;
}

.delete-node {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 5px;
}

.input .delete-node {
  visibility: hidden;
}

.output .delete-node {
  visibility: hidden;
}

.jsplumb-drag-select * {
}
