<h2>Pedal creation</h2>
<form role="form">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" name="name" ng-model="pedal.name" required/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" ng-model="pedal.description" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-success pull-right" ng-click="newPedal()">Submit</button>
  </div>
</form>
