
<form role="form">

  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" id="name" class="form-control" name="name" ng-model="pedal.name" required/>
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input type="text" id="description" class="form-control" name="description" ng-model="pedal.description" />
  </div>

  <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="submit" class="btn btn-default" ng-click="ok()">Submit</button>
</form>
