<div id="live-page">
  <div ng-if="ready">

    <div ng-repeat="node in live.audionodes">
      <audio-node id="{{node.id}}"
                  type="{{node.type}}"
                  posx="{{node.posx}}"
                  posy="{{node.posy}}"
                  value="{{node.value}}"
                  precedent="{{node.precedent}}"
                  suivant="{{node.suivant}}">
      </audio-node>
    </div>

  </div>
  <div ng-if="!ready">
    <h1>ite dosehant worque véri waile</h1>
  </div>
</div>
