<style>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .footer {
    padding: 0;
  }

  .navbar-fixed-bottom {
    width: 80%;
  }
</style>
<div id="live-page">
  <div id="live-page-pedals">
    <div ng-if="ready">

      <!-- effects added and printed to the screen -->
      <audio-node ng-repeat="node in nodeStorage.storage | filter:isUndefined"
                  snode="node">
        <div>
          <div> {{node.name}}</div>
          <div class="delete-node" ng-click="deleteEffect(node.id)"></div>

          <!-- Sorry for the long code. But I couldn't integrate template yet. Maybe later -->
          <div>
            <div ng-switch="node.type">
              <div ng-switch-when="input">
                <div ng-click="clickPlay()">
                  <img class="image-button" ng-src="images/play.png" alt="PLAY" ng-if="!node.play"/>
                  <img class="image-button" ng-src="images/pause.png" alt="PAUSE" ng-if="node.play"/>
                </div>
              </div>
            </div>

            <div ng-repeat="param in node.parameters">
              {{param.name}}
              <input type="range"
                     min="{{param.min}}"
                     max="{{param.max}}"
                     step="{{param.step}}"
                     ng-model="node.value[param.name]"
                     ng-change="node.setParameters(param.name)"/>{{node.value[param.name]}}
            </div>
          </div>
        </div>

      </audio-node>

    </div>
    <div ng-if="!ready">
      <h1>ite dosehant worque véri waile</h1>
    </div>
  </div>
  <!-- side menu to add effects -->
  <div id="live-sidebar">
    <div class="effect-element" ng-repeat="effect in effects">
      <div class="effect-button">
      <div ng-class="effect" ng-click="addEffect(effect)">
        {{effect}}
      </div>
      </div>
    </div>
  </div>
</div>
