<div id="live-page">
  <div ng-if="ready">

      <audio-node ng-repeat="node in nodeStorage.storage | filter:isUndefined"
                  nid="node.id"
                  type="node.type">
        <div>
          <div> {{node.type}} </div>

          <div ng-switch="node.type">

            <div ng-switch-when="gain">
              Level :
              <input type="range"
                     min="0"
                     max="1"
                     step="0.01"
                     ng-model="node.gain.gain.value"/>
            </div>

            <div ng-switch-when="lowpass">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.lowpass.frequency.value"/>

              Quality
              <input type="range"
                     min="1"
                     max="100"
                     step="1"
                     ng-model="node.lowpass.Q.value"/>
            </div>

            <div ng-switch-when="highpass">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.highpass.frequency.value"/>

              Quality
              <input type="range"
                     min="1"
                     max="100"
                     step="1"
                     ng-model="node.highpass.Q.value"/>
            </div>

            <div ng-switch-when="bandpass">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.bandpass.frequency.value"/>

              Quality
              <input type="range"
                     min="0.01"
                     max="1"
                     step="0.01"
                     ng-model="node.bandpass.Q.value"/>
            </div>

            <div ng-switch-when="lowshelf">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.lowshelf.frequency.value"/>

              Gain
              <input type="range"
                     min="0"
                     max="40"
                     step="1"
                     ng-model="node.lowshelf.gain.value"/>
            </div>

            <div ng-switch-when="highshelf">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.highshelf.frequency.value"/>

              Gain
              <input type="range"
                     min="0"
                     max="40"
                     step="1"
                     ng-model="node.highshelf.gain.value"/>
            </div>

            <div ng-switch-when="peaking">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.peaking.frequency.value"/>
              Quality
              <input type="range"
                     min="0.01"
                     max="1"
                     step="0.01"
                     ng-model="node.peaking.Q.value"/>
              Gain
              <input type="range"
                     min="0"
                     max="40"
                     step="1"
                     ng-model="node.peaking.gain.value"/>
            </div>

            <div ng-switch-when="notch">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.notch.frequency.value"/>
              Quality
              <input type="range"
                     min="0.01"
                     max="1"
                     step="0.01"
                     ng-model="node.notch.Q.value"/>
            </div>

            <div ng-switch-when="allpass">
              Frequency
              <input type="range"
                     min="20"
                     max="20000"
                     step="1"
                     ng-model="node.allpass.frequency.value"/>
              Quality
              <input type="range"
                     min="0.01"
                     max="1"
                     step="0.01"
                     ng-model="node.allpass.Q.value"/>
            </div>

            <div ng-switch-default>
            </div>
          </div>
        </div>

      </audio-node>

  </div>
  <div ng-if="!ready">
    <h1>ite dosehant worque véri waile</h1>
  </div>
</div>
