<div class="row">
  <h1>Design de ma pédale</h1>
  <div class="pedal-backgrounds radio">
    <div class="pedal-background col-md-1" style="height: 400px;">
      <div style="text-align: center">
        <label>
          <input type="radio" name="background-choice" value="metal"> Métal
        </label>
      </div>
      <div style="border: solid 1px black; height: inherit; width: 100%;
                  background-image: url('images/background-metal.jpg');"></div>
    </div>

    <div class="pedal-background col-md-1" style="height: 400px;">
      <div style="text-align: center">
        <label>
          <input type="radio" name="background-choice" value="carbon"> Carbonne
        </label>
      </div>
      <div style="border: solid 1px black; height: inherit; width: 100%;
                  background-image: url('images/background-carbon.png');"></div>
    </div>
  </div>
</div>
<div class="row">
  <h2>Sélection des potars</h2>
  <div class="col-md-1">
    <div style="text-align: center">
      <label>
        <input type="radio" name="potar-choice" value="modern"> Potar moderne
      </label>
    </div>
    <img src="images/potar1.png" alt="">
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-success">SAUVEGARDE</button>
  </div>
</div>
