<div class="row">
  <div class="col-md-12">
    <h2>Rendu </h2>
    <div id="demo" class="{{selectedBackground().value}}">
      <div ng-model="potar1" class="pedal-potar">
        <canvas class="invisible" id="potar1" nx="dial" min="0" max="100" label="value" height="150"
                width="100"></canvas>
      </div>
      <div ng-model="potar2" class="pedal-potar">
        <canvas class="invisible" id="potar2" nx="dial" min="0" max="100" label="value" height="150"
                width="100"></canvas>
      </div>
      <div ng-model="potar3" class="pedal-potar">
        <canvas class="invisible" id="potar3" nx="dial" min="0" max="100" label="value" height="150"
                width="100"></canvas>
      </div>
      <div ng-model="potar4" class="pedal-potar">
        <canvas class="invisible" id="potar4" nx="dial" min="0" max="100" label="value" height="150"
                width="100"></canvas>
      </div>
    </div>
  </div>
</div>
