<div>
  <label>Gain&nbsp;
    <input id="gain" type="range" step="0.01" min="0" max="10">
  </label>
</div>
<div>
  <label>Level&nbsp;
    <input id="level" type="range" step="0.01" min="0" max="10">
  </label>
</div>
<div>
  <label>Grave&nbsp;
    <input id="grave" type="range" step="0.01" min="0" max="10">
  </label>
</div>
<div>
  <label>Trebble&nbsp;
    <input id="trebble" type="range" step="0.01" min="0" max="10">
  </label>
</div>
<div>
  <label>Ratio&nbsp;
    <input id="ratio" type="range" step="0.01" min="0" max="10">
  </label>
</div>
<div>
  <label>Depth&nbsp;
    <input id="depth" type="range" step="0.01" min="0" max="10">
  </label>
</div>

<div>
  <label>Muted&nbsp;
    <input id="muted" type="checkbox">
  </label>
</div>


<label>Balance&nbsp;<input id="balance" type="range" step="0.01" min="0" max="10" value="5"></label>
