<link rel="import" href="/views/components/effects/gain.html">
<link rel="import" href="/views/components/effects/level.html">
<link rel="import" href="/views/components/effects/grave.html">
<link rel="import" href="/views/components/effects/trebble.html">
<link rel="import" href="/views/components/effects/ratio.html">
<link rel="import" href="/views/components/effects/depth.html">
<link rel="import" href="/views/components/effects/muted.html">
<link rel="import" href="/views/components/effects/balance.html">
<gain-component></gain-component>
<level-component></level-component>
<grave-component></grave-component>
<trebble-component></trebble-component>
<ratio-component></ratio-component>
<depth-component></depth-component>
<balance-component></balance-component>
